<div class="headerBackground">
<header class="header">
    <div>
        <img src="https://qhubomedellin.com/base-portlet/webrsrc/ctxvar/9b00007f-6511-45de-a8e5-93552223aea1.svg" alt="" routerLink="/">
    </div>
    <div class="menu">
        <ul class="menu__container">
            <li><a [routerLink]="'/'">portada</a></li>
            <li><a>deportes</a></li>
            <li><a>cultura</a></li>
            <li><a>educación</a></li>
            <li><a>cine</a></li>
            <li><a>negocios</a></li>
            <li><a>clima</a></li>
        </ul>
    </div>
</header>
</div>