<div class="noteDetail">
    <p class="noteDetail__section">{{note.section}}</p>
    <h2>{{note.title}}</h2>
    <hr>
    <div>
        <span class="noteDetail__information">
            {{note.city}} | {{note.date}} {{note.hour}} | Por: {{note.reporter}}
        </span>
    </div>
    <hr>
    <div class="noteDetail__container">
        <img [src]="note.picture" alt="" width="732">
        <div class="noteDetail__description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu semper turpis. Praesent vitae porttitor lacus. Aenean ut porttitor tellus, vulputate placerat sem. Nam sagittis tortor eget posuere aliquet. In hendrerit orci et vestibulum lobortis. Aenean lacinia leo vel nisl pharetra sagittis. Sed a mi viverra, pellentesque lacus ut, rutrum quam. Nulla pretium nisl ut nunc cursus auctor. Sed vel erat quis augue malesuada venenatis a quis sem.</p>
            <br>
            <p>Quisque fringilla, mi nec pellentesque ullamcorper, nunc est mollis purus, et feugiat quam justo vel neque. Nam tincidunt vel tellus ac vestibulum. In vel ligula purus. Proin a risus auctor, pretium ipsum egestas, tristique diam. Integer maximus, urna tempus iaculis porta, nisl lectus vestibulum nulla, id finibus velit odio id metus. Phasellus quis lobortis nisi. Suspendisse id purus nisi. Quisque eleifend nisi eget blandit ullamcorper. Mauris sed placerat justo, porta elementum nisl. Praesent eleifend imperdiet lacinia. Duis sollicitudin euismod semper. Mauris consectetur neque vel massa pharetra, sit amet ultrices dui facilisis.</p>
            <br>
            <p>Integer dolor eros, volutpat id faucibus ut, hendrerit nec turpis. Curabitur lacus turpis, eleifend vel venenatis sit amet, venenatis sit amet elit. Aliquam erat volutpat. Aenean dignissim elementum tellus sit amet consequat. Vestibulum non turpis lacinia, congue ipsum eu, condimentum velit. Quisque fringilla elit lorem, eu elementum ligula vestibulum quis. Ut pulvinar ultricies odio. Sed tempus erat quis libero efficitur vulputate. Nam vel leo scelerisque, scelerisque dolor sed, tristique neque. Mauris sit amet tempus mi, et efficitur velit.</p>
            <br>
            <p>Nullam bibendum laoreet ullamcorper. Vestibulum eleifend urna vel sem scelerisque eleifend ut vel urna. Donec ut mi in enim tempor pharetra. Suspendisse dictum laoreet facilisis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque in sollicitudin sapien. Fusce faucibus, mi quis semper fringilla, nisl sapien porttitor augue, ac porttitor augue quam sit amet arcu. Donec augue arcu, pharetra sed vestibulum at, interdum eget tortor. Fusce a magna ac est sagittis condimentum et non lectus.</p>
            <br>
            <p>Vestibulum ornare nibh vitae neque molestie gravida. Pellentesque id elit auctor, malesuada augue ac, sodales quam. Nam scelerisque, mi vel tempor ultricies, risus nisl laoreet dui, non congue arcu odio in leo. Cras sit amet condimentum mauris, eget sodales lectus. Donec porttitor lobortis placerat. Praesent rhoncus odio nulla, vitae finibus mauris porta vitae. Sed hendrerit ullamcorper eleifend. Proin vel elit at augue molestie vestibulum. Suspendisse dictum neque faucibus, sodales tellus id, tincidunt urna. Integer sagittis velit nibh, nec bibendum erat scelerisque at.</p>
        </div>
    </div>
</div>